/* Reset margin and padding for all elements */


/* Basic reset and styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,rgb(186, 160, 12)
    ,white, lightpink , rgba(144, 249, 249, 0.821));
    margin: 0;
    padding: 0;
}

#welcome {
    text-align: center;
    margin-top: 50px;
}

.container {
    background-color: white;
    background-image: url('flower.png');
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Center contents */
    width: 55%;
    height: 500px;
    /* max-width: 700px; */
    margin: 20px auto;
    margin-top: 70px;
    /* Center the countdown item */
}

.countdown-item h3 {
    margin-top: 0;
    color: #333;
    /* Adjusted text color */
}

.countdown-item .emoji {
    font-size: 48px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: #007BFF;
    color: white;
}

.countdown-item h3 {
    color: #333;
    font-size: 24px;
    margin-top: 10px;
}

.countdown-item p {
    margin-bottom: 5px;
}

.countdown-timer {
    background-color: #007BFF;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 180px;
    height: 80px;
}

.countdown-item .notes {
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    min-height: 40px;
    /* Ensure visibility */
}

.countdown-item .countdown span {
    font-size: 18px;
    font-weight: bold;
    margin: 0 5px;
}

input {
    border-radius: 5px;
    border-color: lightgray;
}



/* Style individual buttons */
button {
    padding: 7px;
    border-radius: 7px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}

button:hover {
    background-color: #0056b3;
}

.countdown-item {
    margin-bottom: 20px;
}

.countdown {
    font-size: 1.2em;
}

.button-row {
    margin-top: 10px;
}

.emoji {
    font-size: 24px;
}


