/* Basic reset and styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgba(210, 171, 122, 0.943), white, lightpink , rgba(144, 249, 249, 0.821));
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.container {
    background-image: url('flower.png');
    background-repeat: no-repeat;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center contents */
    width: 55%;
    /* max-width: 700px; */
    height: 500px;
    margin: 20px auto; /* Center the countdown item */
}

form {
    margin-top: 40px;
    text-align: center;
}

.countdown-item .emoji {
    font-size: 48px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: #007bffcf;
    color: white;
}

.countdown-item p {
    margin-bottom: 5px;
}

.countdown-item .countdown {
    background-color: #007bffd1;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.countdown-item .notes {
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    min-height: 50px; /* Ensure visibility */
}

.countdown-item .countdown span {
    font-size: 18px;
    font-weight: bold;
    margin: 0 5px;
}

.countdown-container {
    justify-content: center;
}



input {
    border-radius: 5px;
    border-color: lightgray;
}


/* Style individual buttons */
button {
    padding: 7px;
    border-radius: 7px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
    /* Darker shade on hover */
}