{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Countdowns</title>
    <!-- Default Theme -->
    <link id="theme-stylesheet" rel="stylesheet" href="{% static 'css/light-theme.css' %}">
</head>

<body><br>
    <!-- Theme Switcher -->
    <div class="theme-switcher">
        <label for="theme-select">Choose Theme:</label>
        <select id="theme-select" onchange="changeTheme()">
            <option value="light">Light</option>
            <option value="medium">Medium</option>
            <option value="dark">Dark</option>
            <option value="darkest">Darkest</option>
        </select>
    </div>
    
    {% block content %}
    <h1 id="top-page">All Countdowns</h1>
    <div id="countdowns">
        {% for countdown in countdowns %}

        <!-- Display title, emoji, date, time. -->
        <div class="countdown-item">
            <h3>{{ countdown.event_title }}</h3>
            <div class="emoji">{{ countdown.event_emoji }}</div>
            <p class="event-date">Date: {{ countdown.event_date }}</p>
            <p class="event-time">Time: {{ countdown.event_time }}</p>

            <!-- Display notes -->
            <!-- <h4>Notes:</h4> -->
            <div class="notes">
                <ul class="notes-list">
                    {% if countdown.notes %}
                    {% for note in countdown.notes %}
                    <li>{{ note }}</li>
                    {% endfor %}
                    {% else %}
                    <li>No notes</li>
                    {% endif %}
                </ul>
            </div>
            <!-- Display countdown timer -->
            <div class="countdown-timer" data-event-date="{{ countdown.event_date }}"
                data-event-time="{{ countdown.event_time }}">
                <!-- Countdown timer display -->
                <span class="days">0</span> days
                <span class="hours">0</span> hours
                <span class="minutes">0</span> minutes
                <span class="seconds">0</span> seconds
            </div>
            <br>
            <button class="edit-button" type="submit"
                onclick="window.location.href='{% url 'edit_countdown' countdown.id %}'">Edit</button>

            <form action="{% url 'delete_countdown' countdown.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </div>
        {% endfor %}
    </div>

    <!-- Back Home button -->
    <button class="back-home" type="submit" onclick="window.location.href='{% url 'index' %}'">⬅️</button>

    <!-- Back to Top button -->
    <button class="back-to-top" type="submit" onclick="scrollToTop()">⬆️</button>
    {% endblock %}
    <!-- Script link -->
    <script src="{% static 'script.js' %}"></script>
</body>

</html>