<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Countdown</title>
    {% load static %}
    <!-- Default Theme -->
    <link id="theme-stylesheet" rel="stylesheet" href="{% static 'css/light-theme.css' %}">
</head>

<body><br>
    <div class="theme-switcher">
        <label for="theme-select">Choose Theme:</label>
        <select id="theme-select" onchange="changeTheme()">
            <option value="light">Light</option>
            <option value="medium">Medium</option>
            <option value="dark">Dark</option>
            <option value="darkest">Darkest</option>
        </select>
    </div>
    
    {% block content %}
    <h1>Edit Countdown</h1>
    <div class="container">
        <form id="form3" method="POST">
            {% csrf_token %}
            <label for="event_title">Event Title:</label><br>
            <input type="text" id="event_title" name="event_title" value="{{ countdown.event_title }}"><br><br>

            <label for="event_date">Event Date:</label><br>
            <input type="date" id="event_date" name="event_date" value="{{ countdown.event_date }}"><br><br>

            <label for="event_time">Event Time:</label><br>
            <input type="time" id="event_time" name="event_time" value="{{ countdown.event_time }}"><br><br>

            <label for="event_emoji">Event Emoji:</label><br>
            <input type="text" id="event_emoji" name="event_emoji" value="{{ countdown.event_emoji }}"><br><br>

            <label for="notes">Notes:</label><br>
            <textarea id="notes" name="notes">{{ countdown.notes }}</textarea><br><br>

            <button type="submit">Save</button>
            <button class="button" type="button"
                onclick="window.location.href='{% url 'all_countdowns' %}'">Cancel</button>
        </form>
    </div>
    {% endblock %}
    <script src="{% static 'script.js' %}"></script>
</body>

</html>