{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Add Countdown{% endblock %}</title>
    <!-- Default Theme -->
    <link id="theme-stylesheet" rel="stylesheet" href="{% static 'css/light-theme.css' %}">
</head>

<body><br>
    <div class="theme-switcher">
        <label for="theme-select">Choose Theme:</label>
        <select id="theme-select" onchange="changeTheme()">
            <option value="light">Light</option>
            <option value="medium">Medium</option>
            <option value="dark">Dark</option>
            <option value="darkest">Darkest</option>
        </select>
    </div>
    
    {% block content %}
    <h1 id="welcome">Welcome to the Countdown App!</h1>

    <div class="container">

        <h2>Add Countdown</h2>
        <form name="countdownForm" method="POST" action="{% url 'add_countdown' %}" onsubmit="return validateForm()">
            {% csrf_token %}
            <label for="event_title">Title:</label>
            <input type="text" id="event_title" name="event_title" required><br><br>

            <label for="event_date">Date:</label>
            <input type="date" id="event_date" name="event_date" required><br><br>

            <label for="event_time">Time:</label>
            <input type="time" id="event_time" name="event_time" required><br><br>

            <label for="event_emoji">Emoji:</label>
            <input type="text" id="event_emoji" name="event_emoji"><br><br>

            <label for="notes">Notes:</label>
            <textarea id="notes" name="notes"></textarea><br><br>

            <button type="submit">Add Countdown</button>
            <button class="button" type="button" onclick="window.location.href='{% url 'all_countdowns' %}'">View All
                Countdowns</button>
        </form>
    </div>
    {% endblock %}
    <script src="{% static 'script.js' %}"></script>

</body>

</html>