<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countdown App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script defer src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
</head>
<body>
    <h1>Add Countdown</h1>
    <form action="{% url 'add_countdown' %}" method="post">
        {% csrf_token %}
        <label for="event_title">Event Title:</label>
        <input type="text" id="event_title" name="event_title" required><br><br>

        <label for="event_date">Event Date:</label>
        <input type="datetime-local" id="event_date" name="event_date" required><br><br>

        <label for="event_emoji">Event Emoji:</label>
        <input type="text" id="event_emoji" name="event_emoji" placeholder="Select an emoji"><br><br>

        <button type="submit">Add Countdown</button>
    </form>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
