/* Reset margin and padding for all elements */

/* Basic reset and styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(176, 115, 39, 0.943), white, lightpink , rgba(144, 249, 249, 0.821));
    color: black;
    text-align: center; /* Center align text content */

}

h1 {
    text-align: center;
}

#welcome {
    text-align: center;
    margin-top: 50px;
}

.container {
    background-color: white;
    background-image: url('../images/flower.png');
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Center contents */
    width: 55%;
    height: 500px;
    margin: 20px auto;
    margin-top: 70px;
}

.countdown-item {
    background-image: url('../images/flower.png');
    background-repeat: no-repeat;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center contents */
    width: 50%;
    margin: 20px auto; /* Center the countdown item */
}

.countdown-timer {
    background-color: #007bffbc;
    color: rgba(255, 255, 255, 0.995);
    font-weight:bold;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    margin-top: 10px;
    width: 100%;
}

.countdown-item .emoji {
    font-size: 48px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #007bffc3;
    color: white;
}

.countdown-item h3 {
    color: #333;
    font-size: 24px;
    margin-top: 10px;
}

.countdown-item p {
    margin-bottom: 5px;
}

.countdown-item .countdown {
    background-color: #007bffc8;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.countdown-item .notes {
    background-color: #f0f0f0b2;
    margin-top: 10px;
    border-radius: 10px;
}

.countdown-item .countdown span {
    font-size: 18px;
    font-weight: bold;
    margin: 0 5px;
}

.countdown-container {
    justify-content: center;
}

input {
    border-radius: 5px;
    border-color: lightgray;
    caret-color: fuchsia;
    color: rgb(202, 3, 149);
}

textarea {
    color: rgb(202, 3, 149);
    caret-color: fuchsia;
}

#form3 {
    margin-top: 40px;
    text-align: center;
}

/* Style individual buttons */
button, .button {
    padding: 7px;
    border-radius: 7px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    /* margin: 0 auto; */
}

button:hover {
    background-color: #0056b3;
}

.countdown {
    font-size: 1.2em;
}

.button-row {
    margin-top: 40px;
}

.emoji {
    font-size: 24px;
}

.notes {
    display: block; /* or inline-block */
    /* Add any other styling you need */
}

.notes-list {
    list-style-type: none; /* Hide the list markers */
    height: 30px;
    padding-top: 10px;
}

.notes-list li {
    display: inline; /* Display notes inline */
    margin-right: 10px; /* Add some space between notes */
}

.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: transform 0.5s, background-color 0.5s;
    z-index: 1000;
}

.back-to-top:hover {
    transform: rotate(360deg);
    background: rgb(32, 32, 130);
}

.back-home {
    position: fixed;
    bottom: 20px;
    left: 30px; /* Adjusted to bottom left */
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: transform 0.5s, background-color 0.5s;
    z-index: 1000;
}

.back-home:hover {
    transform: rotate(360deg);
    background: rgba(32, 32, 130);
}

